<div class="jumbotron">
  <picture class="jumbo-img">
    <source srcset="assets/img/jumbotron-background.webp" type="image/webp" />
    <source srcset="assets/img/jumbotron-background.jpg" type="image/jpeg" />
    <img src="assets/img/jumbotron-background4.jpg" alt="Background" />
  </picture>
  <div class="jumbo-img-overlay"></div>
  <div class="jumbotron-content">
    <h1 class="title">Beyerlein Digital Solutions</h1>
    <p class="subtext">Ihr innovativer Partner in Softwareentwicklung & IT.</p>
    <a href="#contact" class="btn-cta" data-umami-event="Jumbotron CTA">Nehmen Sie Kontakt auf</a>
  </div>
</div>
