@use "colors" as *;
@use "mixins" as *;

:host {
  .container {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 32px 16px;

    @include mobile {
      padding: 32px 32px;
    }

    .section-title {
      font-size: 2rem;
      margin-bottom: 20px;
      color: $primary;
    }

    .services-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      cursor: default;

      @include mobile {
        grid-template-columns: 1fr;
      }

      .service-item {
        background-color: $contrast;
        padding: 16px;
        border-radius: 8px;
        transition: all 0.3s ease-in-out;
        text-align: left;

        &:hover {
          background-color: $primary;
          transition: all 0.3s ease-in-out;

          .icon {
            svg {
              stroke: $contrast;
              transition: all 0.3s ease-in-out;
            }
          }

          .item-title {
            color: $highlight;
            transition: all 0.3s ease-in-out;
          }

          .item-description {
            color: $contrast;
            transition: all 0.3s ease-in-out;
          }
        }

        .icon {
          svg {
            display: block;
            stroke: $primary;
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 2;
            width: 50px;
            height: 50px;
            margin: 0 auto 8px auto;
            transition: all 0.3s ease-in-out;
          }
        }

        .item-title {
          font-size: 1.5rem;
          color: $secondary;
          margin-bottom: 0.5rem;
          text-align: center;
          transition: all 0.3s ease-in-out;
        }

        .item-description {
          font-size: 1rem;
          line-height: 1.6;
          text-align: center;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .container {
    padding: 0 1rem;

    h2,
    .service-item h3 {
      font-size: 1.25rem;
    }
  }
}
