@use "colors" as *;
@use "mixins" as *;

.container {
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 32px 16px;

  @include mobile {
    padding: 32px 32px;
  }

  .section-title {
    font-size: 2rem;
    margin-bottom: 16px;
    color: $primary;
  }

  .text {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .contact-methods {
    .contact-link {
      display: inline-flex;
      align-items: center;
      background-color: $contrast;
      color: $secondary;
      padding: 12px 20px;
      margin: 8px;
      border-radius: 4px;
      text-decoration: none;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($contrast, 10%);
      }

      .icon {
        margin-right: 8px;
        stroke: $secondary;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2;
        width: 24px;
        height: 24px;
      }
    }
  }
}
