<div class="container">
  <h1>Impressum</h1>
  <p>Angaben gemäß § 5 TMG</p>
  <p>
    Beyerlein Digital Solutions <br />
    Fabian Beyerlein <br />
    Trochtelfinger Str. 7<br />
    72829 Engstingen <br />
  </p>
  <p>
    <strong>Vertreten durch: </strong><br />
    Fabian Beyerlein<br />
  </p>
  <p>
    <strong>Kontakt:</strong> <br />
    Telefon: 0162-690445<br />
    E-Mail: <a href="mailto:hello@beyerle.in">hello&#64;beyerle.in</a><br />
  </p>
  <p>
    <strong>Umsatzsteuer-ID: </strong> <br />
    Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz: DE346947600<br /><br />
    <br />
  </p>
  <h2>Haftungsausschluss</h2>
  <p>
    <strong>Haftung für Links</strong><br />
    Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb
    können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets
    der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der
    Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht
    erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer
    Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend
    entfernen.
  </p>
</div>
