@use "colors" as *;
@use "mixins" as *;

.container {
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 32px 16px;

  @include mobile {
    padding: 32px 32px;
  }

  .section-title {
    color: $primary;
    font-size: 2rem;
    margin-bottom: 16px;
  }

  .text {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 16px;
  }
}
