@use "scss/colors" as *;
@use "./assets/fonts/inter-v13/inter-v13";
@use "./assets/fonts/arkhip/arkhip";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $neutral-base;
  color: $secondary;
  font-family: "Inter", sans-serif;
}

body,
html {
  height: 100%;
}
