$primary: #0065e0; // vibrant blue
$secondary: #687980; // slate gray
$accent: #00bfff; // electric cyan
$neutral-base: #f2f2f2; // light gray
$contrast: #fefefe; // off white
$highlight: #ffcc00; // vibrant yellow
